{
  "printWidth": 120,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "semi": true,
  "useEditorConfig": false,
  "bracketSpacing": true,
  "bracketLine": false,
  "arrowParens": "avoid",
  "endOfLine": "auto"
}